    body{
    background-color: #fff;
    color: #2255AA;
    font-family: 'Verdana', 'Liberation';
    font-size: 16px;
    overflow: hidden;
    }
    header{
    width: 100%;
    height: 60px;
    display: block;
    margin-bottom: 15px;
    }
    nav{
    width: 20%;
    height: 120px; 
    float: left;
    display: block;
    margin: 4px 0px 4px 0px;
    }
    section{
    width: 77%;
    text-align: center;
    display: block;
    float: right;
    margin: 4px 0px 4px 4px;
    position: relative;
    }
    footer{
    width: 100%;
    height: 60px;
    clear: both;
    }
    ul li a{
    text-decoration: none; 
    color: #FF0000; 
    }
    a:visited{
    color: #DD0000;
    }
    .imgLogo{
        border-bottom: solid 3px; 
        color: #2255AA;  
    }
    .menu{
        color:#FF0000;
        list-style: circle;
        width: 120px;
        padding-top: 15px;
        border-top: 2px solid;
        padding-bottom: 15px;
        border-bottom: 2px solid ; 
    }
    .ender{
        text-align: center;
        font-size: 14px;
        padding-top: 15px;
        border-top: 3px solid;
    }
    span{
        color: #FF0000;
    }
    fieldset{
        background-color: #F8F858;
        text-align: left;
    }
    #ridentificacao{
        clear: both;
    }
    #passeio{
        height: 260px;
        float: left;
        width: 42%;
    }
    #pag{
        height: 260px;
       float: right;
       width: 48%;
        
    }
    #cmail{
        width: 300px;
        float: left;
    }
    #pass{
        width: 120px;
    }
    [for*="cpass"]{
        margin-left: 26px;
        width: 60px;
    }
    [for*="cmail"]{
        width: 60px;
    }
    #benv{
    margin-right: 8px;
    margin-top: 16px;
    float: right;
    }
    #blimp{
    float: right;
    margin-top: 16px;
    }
    form{
    margin-right: 16px;
    overflow: hidden;
    }
    #tano{
    width: 44px;
    }
    #tmes{
    margin-left: 4px;
    width: 22px;
    }
    label:not(.col){
    display: block;
    float: left;
    }
    #cd, #ca{
    width: 190px;
    }
    .eda{
    width: 60px;
    }
    .ctq{
    width: 187px;
    }
    #cvalue{
        width: 120px;
    }
    [for*="cvalue"]{
        width: 132px;
    }
    #cpac{
        width: 200px;
    }
    #cnumber{
        width: 120px;
    }
    .vn{
        width: 80px;
    }